body{
	font-family: calibri;
}

#map{
	height:400px;
	width:600px;
	float:left;
}

#feed{
	width: 300px;
	font-size: 8pt;
	float:left;
	height: 400px;
	overflow: auto;
}
#main{
	margin:0 auto;
	width: 900;
}


.tweets{
	width: 300;
	margin: 5px;
	border-bottom: 1px solid black;
}

#concertList{
	padding:top-5px;
}

ol{
	margin-top:15px;
}